<ng-container>
  <ng-container>
    <mat-card>
      <mat-card-title>Ficha de usuario de <i>{{ user.name }}</i></mat-card-title>
      <mat-card-content>
        <h3>Datos Generales</h3>
        <div>
          <form [formGroup]="editGroup" (ngSubmit)="valid()">

            <div>
              <mat-form-field>
                <input matInput formControlName="name" placeholder="Nombre Completo*" class="example-full-width">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="Correo Electronico*"
                       class="example-full-width">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput formControlName="telefono" placeholder="Teféfono de Contacto*"
                       class="example-full-width">
              </mat-form-field>
            </div>

            <div class="inner">
              <mat-form-field>
                <mat-label>Departamento*</mat-label>
                <mat-select [(ngModel)]="selectedDepartamento"
                            (selectionChange)="onDepartamentosChange()"
                            formControlName="departamento_id">
                  <mat-option *ngFor="let depart of departamentos" [value]="depart.value">
                    {{depart.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="inner">
              <mat-form-field>
                <mat-label>Municipios*</mat-label>
                <mat-select [(ngModel)]="selectedMunicipio"
                            formControlName="municipio_id">
                  <mat-option *ngFor="let munic of municipios" [value]="munic.value">
                    {{munic.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-hint>Seleccione un departamento para municipios disponibles</mat-hint>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput formControlName="calle" placeholder="Detalle Dirección*" class="example-full-width">
                <mat-hint>Numero de calle y referencias</mat-hint>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput formControlName="casa" placeholder="No. de Casa*" class="example-full-width">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>Tipo de Usuario*</mat-label>
                <mat-select [(ngModel)]="selectedRole" formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" [disabled]="!editGroup.valid">Actualizar</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
