<ng-container>
  <h2>Listado de Usuarios</h2>
  <table class="blueTable">
    <thead>
      <th>Nombre</th>
      <th>email</th>
      <th>Telefono</th>
      <th>Tipo Usuario</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.roles[0].name }}</td>

        <td>
          <div *ngIf="usuario.status">
            <mat-icon>done</mat-icon>
          </div>
          <div *ngIf="!usuario.status">
            <mat-icon>clear</mat-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>


