<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="identidad" type="number" placeholder="Numero de Identidad*"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn" placeholder="RTN*" type="number"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn_image" placeholder="Imagen RTN*" class="example-full-width">
</mat-form-field>
