<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="identidad" placeholder="Numero de Identidad*"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn" placeholder="RTN*"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn_image" placeholder="Imagen RTN*"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="cuenta_image" placeholder="Cuenta Bancaria*"  class="example-full-width">
</mat-form-field>

<mat-form-field [formGroup]="ParentForm">
  <textarea matInput formControlName="descripcion_vehiculos" placeholder="Descripciòn de Vehiculos"></textarea>
</mat-form-field>

