<ng-container>
  <mat-card>
    <mat-card-title>Configuración de password personalizado</mat-card-title>
    <mat-card-content>
      <form [formGroup]="passwordGroup" (ngSubmit)="validar()">
        <mat-form-field>

          <input matInput type="password" placeholder="Contraseña" formControlName="password"
                 class="example-form example-full-width">
          <mat-error *ngIf="passwordGroup.controls.password.hasError('required')">
            La Contraseñá es obligatoria
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirmación de Contraseña" [errorStateMatcher]="matcher"
                 formControlName="password_confirmation" class="example-form example-full-width">
          <mat-error *ngIf="passwordGroup.controls.password.hasError('required')">
            La Contraseñá es obligatoria
          </mat-error>
          <mat-error *ngIf="passwordGroup.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" style="margin-right: 2rem">Validar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
