<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>

          <span>MMANO</span>

          <button mat-button (click)="onSidevOpen()">
            <mat-icon>menu</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-toolbar>
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                   (closed)="events.push('close!')">
        <h3>Menu de Opciones</h3>
        <mat-nav-list>

          <a mat-list-item routerLink="/"
             *ngIf="!user"
             (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
          </a>

          <a mat-list-item routerLink="/login"
             *ngIf="!user"
             (click)="onSidenavClose()">
            <mat-icon>lock_open</mat-icon> <span class="nav-caption">Login</span>
          </a>

          <a mat-list-item routerLink="/dashboard"
             *ngIf="user"
             (click)="onSidenavClose()">
            <mat-icon>assignment</mat-icon> <span class="nav-caption">Dashboard</span>
          </a>

          <a mat-list-item routerLink="/listado-usuarios"
             *ngIf="user && user.roles[0].name === 'Administrador_Sistema'"
             (click)="onSidenavClose()">
            <mat-icon>find_in_page</mat-icon> <span class="nav-caption">Listado de Usuarios</span>
          </a>

          <a mat-list-item routerLink="/configuraciones"
             *ngIf="user && user.roles[0].name === 'Administrador_Sistema'"
             (click)="onSidenavClose()">
            <mat-icon>build</mat-icon> <span class="nav-caption">Configuraciones</span>
          </a>

          <a mat-list-item routerLink="/configuraciones-usuarios"
             *ngIf="user"
             (click)="onSidenavClose()">
            <mat-icon>account_circle</mat-icon> <span class="nav-caption">Config. Usuario</span>
          </a>

          <a mat-list-item routerLink="/register"
             *ngIf="!user"
             (click)="onSidenavClose()">
            <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Register</span>
          </a>

          <a mat-list-item routerLink="/logout"
             *ngIf="user"
             (click)="onSidenavClose()">
            <mat-icon>lock</mat-icon> <span class="nav-caption">Logout</span>
          </a>

        </mat-nav-list>

      </mat-sidenav>

    <mat-card class="example-card">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>


  </mat-sidenav-content>
</mat-sidenav-container>

