<h3>Registro de Afiliados</h3>
<form [formGroup]="registerGroup" (ngSubmit)="validar()">

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nombre Completo" class="example-full-width">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="email" type="email" placeholder="Correo Electronico" class="example-full-width">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Departamento</mat-label>
    <mat-select [(ngModel)]="selectedDepartamento"
                (selectionChange)="onDepartamentosChange()"
                formControlName="departamento_id">
      <mat-option *ngFor="let depart of departamentos" [value]="depart.value">
        {{depart.viewValue}}
      </mat-option>
    </mat-select>
    <mat-hint>(change) event</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Municipios</mat-label>
    <mat-select [(ngModel)]="selectedMunicipio"
                formControlName="municipio_id">
      <mat-option *ngFor="let munic of municipios" [value]="munic.value">
        {{munic.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="telefono" placeholder="Teféfono" class="example-full-width">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="calle" placeholder="Calle" class="example-full-width">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="casa" placeholder="No. de Casa" class="example-full-width">
  </mat-form-field>
  <hr>
  <mat-form-field>
    <mat-label>Tipo de Usuario</mat-label>
    <mat-select [(ngModel)]="selectedRole" formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>Selected Rol: {{ selectedRole }}</div>
</form>
