<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="identidad" type="number" placeholder="Numero de Identidad*"
         #identidad class="example-full-width">
  <mat-hint><code>{{identidad.value.length}}</code> de <code>13</code> numeros</mat-hint>
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn" placeholder="RTN*" type="number" #rtn class="example-full-width">
  <mat-hint><code>{{rtn.value.length}}</code> de <code>14</code> numeros</mat-hint>
</mat-form-field>

<mat-form-field [formGroup]="ParentForm" >
  <input matInput formControlName="rtn_image" placeholder="Imagen RTN*"  class="example-full-width">
</mat-form-field>
